
@include media-md {
  header {
    .toggle {
      display: block;
      margin-right: 230%;
      .close {
        @include positions(absolute, 20px, none, 40%, none, 50px, 50px);
        @include width(40px, 40px, $white, $primary, 50%, 8px);
        z-index: 999999;
      }
    }
    .center {
      ul {
        display: none;
      }

      .mobile-nav {
        display: block;
        @include positions(absolute, 0, none, -50px, none, none, none);
        @include width(400px, 100vh, $light, $white, 0, 0);
        padding: $large 0;
        z-index: 99999;

        li {
          margin-top: $xl;
          a {
            color: $dark;
            margin-bottom: $md;
            font-size: $xl-2;
          }
        }
      }
    }
    .right_user,
    .right_search {
      display: none;
    }
  }

  .hero {
    @include width(90%, auto, 0, 0, 0, 0);
    @include pa_ma(20% 0 0 0, none);
    &::after {
      width: 100%;
    }
    h1 {
      font-size: $xl;
      span {
        font-size: $xl-3;
      }
    }
    .search {
      @include width(100%, none, $white, $dark, 40px, 10px);
      input {
        width: 70%;
      }
    }
  }

  // card
  .cards {
    @include grid(repeat(1, 1fr), 20px);
  }
  .topproduct,
  .product {
    .product_items {
      @include grid(repeat(2, 1fr), 30px);
      padding: 10px;
      .box {
        .img {
          img {
            @include width(auto, 20rem, none, none, 10px, none);
          }

        }
      }
    }
  }
  // Details.js
  .details {
    &_title {
      margin: 30px 0;
    }
    &_content {
      // @include flex(nowrap, none, none);
      &_img {
        @include width(50%, 100%, none, none, none, none);
        margin-right: 0px;
        img {
          @include width(200px, 100px, none, none, none, none);
        }
      }
      &_detail {
        width: 100%;
        h1 {
          font-size: 30px;
        }
        .rating {
          color: $primary;
          margin: 20px 0;
          label {
            margin-left: 0 15px;
            color: $text;
            font-size: $md;
          }
        }
        .qty {
          margin-top: 20px;
          @include flex(center, none, center);
          .count {
            @include flex(center, baseline, center);
            border: 2px solid rgba(#000000, 0.08);
            padding: 10px;
            @include width(120px, none, none, none, 5px, none);
            span {
              font-weight: 600;
            }
            button {
              font-size: 18px;
              opacity: 0.8;
            }
          }
          .button {
            @include width(40%, auto, $blue, $white, 0, 15px);
            margin-left: 30px;
          }
        }
        .desc {
          h4 {
            margin-top: 40px;
          }
          p {
            color: $dark;
            margin-top: 10px;
          }
          ul {
            li {
              span {
                color: #ff4b2e;
              }
            }
          }
        }
      }
    }
  }

  // Top Products
  .topproduct {
    .head {
      @include flex(center, center, column);
    }
    .category {
      @include flex(center, space-between, row);
      width: 100%;
      button {
        margin: 20px;
      }
    }
  }
  .banner {
    .posts {
      @include grid(repeat(1, 1fr), 30px);
    }
  }
  .price {
    .content {
      @include grid(repeat(1, 1fr), 30px);
      place-items: center;
    }
  }
  .customer {
    .content {
      @include grid(repeat(1, 1fr), 30px);
    }
  }
  .blog {
    .posts {
      @include grid(repeat(1, 1fr), 30px);
      place-items: center;
    }
  }
}
@include media-sm { 
  .topproduct,
  .product {
    .product_items {
      @include grid(repeat(1, 0), 0px);
      padding: 10px;
      .box {
        margin: 0 auto;
        .img {
          img {
            @include width(auto, 25rem, none, none, 10px, none);
          }

        }
      }
    }
  }
 }